<!-- <p>forgotpassword works!</p> -->
<div class="group-form">
    <div class="form-content">
       <div class="form">
         <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">      
            <div class="form-head1">
            <span style="color: blue;">F</span>
            <span style="color: red;">u</span>
            <span style="color: purple;">n</span>
            <span style="color: green;">d</span>
            <span style="color: red;">o</span>
            <span style="color: blue;">o</span>
        </div>
        <div class="form-head">Find your email</div>
        <h3 class="form-head2">Enter your registered FundooNotes email</h3>
        <div class="row">
            <p>
              <mat-form-field class="form-cd-rm" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="username">
                <mat-error>enter your email</mat-error>
              </mat-form-field>
            </p>
          </div>
          <div class="btn">
            <button>Next</button>
          </div>
          </form>
       </div>
    </div>
</div>
